doctype html
html
  head
    title Inicio de Sesi칩n
  body
    h1 Inicio de Sesi칩n
    form(action="/Usuarios/login" method="post")
      label(for="usuario") Usuario:
      input(type="text" name="usuario" required)
      br
      label(for="password") Contrase침a:
      input(type="password" name="password" required)
      br
      button(type="submit") Iniciar Sesi칩n
