//- cargaMedicamento.pug

doctype html
 html
  head
   title Gestión de medicamentos
   link(rel="stylesheet", href="stylesheets/medicamentos.css")
  body
   .container
    .sidebar
     h2 Opciones
  
